body {
    background-color: white;
}

#container {
    max-width: 80%;
    margin: 0 auto;
    background-color: white;
}

nav {
    background-color: white;
}

button {
    display: inline-block;
    width: 33.1%;
    text-align: center;
}

a.menu {
    color: black;
    text-decoration: none;
}

article {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: black;
    text-align: center;
}

article h1 {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #2F3954;
}

article p {
    text-align: center;
    padding-bottom: 15px;
}

article h2 {
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 2px solid #2F3954;
}

#login {
    max-width: 80%;
    margin: 0 auto;
    background-color: lightgray;
}

#login .inputs {
    margin-top: 25px;
}

input::-webkit-input-placeholder {
    color : #B5B5B5;
}

input::-moz-placeholder {
    color : #B5B5B5;
}
#login .inputs input[type="email"], input[type="password"], input[type="textarea"]{
    background : #F5F5F5;
    font-size : 0.8rem;
    border-radius : 3px;
    border : none;
    padding : 15px;
    width : 50%;
    margin-bottom : 20px;
    box-shadow : 0 2px 3px rgb(0, 0, 0, 0.1) inset;
    clear : both;
}

#login .inputs input[type="email"]:focus, input[type="password"]:focus, input[type="textarea"]:focus{
    background : #FFF;
    box-shadow : 0 0 0 3px #FFF38e, 0 2px 3px #FFF38e inset, 0 5px 5px rgb(0, 0, 0, 0.15);
    outline : none;
}

#login .inputs button[type="submit"] {
    margin-left: 40%;
    background : #333333;
    width : 20%;
    margin-top : 20px;
    padding : 15px;
    color : white;
    font-size : 14px;
    font-weight : bold;
    letter-spacing : 1px;
    text-align : center;
    text-decoration : none;
    border-radius : 3px;
    border : #737b8d solid 1px;
    box-shadow : 0 5px 5px rgb(0, 0, 0, 0.3), 0 1px 0 rgb(255, 255, 255, 0.5) inset;
    text-shadow : 0 1px 3px rgb(0, 0, 0, 0.3), 0 0 0 rgb(255, 255, 255, 0);
    display : table;
    position : static;
    clear : both;
}